torch>=2.6
torchaudio
transformers
accelerate
librosa
soundfile
pyannote.audio
openai-whisper
tqdm
sentence-transformers
lancedb
pdfplumber
langchain-community
langchain-text-splitters
pyarrow
docx2txt
unstructured[pdf]
pytesseract
resemblyzer
